#MainContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(91, 91, 213);
}
body{
    background-color: rgb(91, 91, 213);
}
ul{
    list-style: none;
}
#the_note{
    height: 80vh;
    width: 70vw;
}

#title{
    font-size: 24pt;
    color: white;
}

#bigtitle{
    font-size: 48pt;
    color: white;
}
